@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,800;1,100;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url(./img/grande.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(0,0,0,0.5);

}

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    
}

.container__all {
    background-color: turquoise;
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: auto;
    box-shadow: 0;
    box-shadow: 0 2px 30px rgba(29, 28, 28, 0.8);
    display: flex;
}

.container__img {
    width: 50%;
    background-image: url(./img/pequeño.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.container__img h1 {
    padding-top: 30px;
    color: white;
    font-size: 50px;
    flex-direction: column;
}

.container__img p {
    color: white;
    padding-top: 10px;
}

.container__img .redes {
    display: flex;
    padding: 20px;
    margin-top: 20px;
    padding: 10px 10px;
    align-items: center;

}
/* botones */
.container__img .redes .facebook a{
    color: white;
    background-color: rgb(38, 38, 238);
    font-size: 25px;
    padding: 10px 23px;
    text-decoration: none;
    border-radius: 50px;
    
}.container__img .redes .facebook a:hover{

    background-color: rgb(38, 38, 238,0.7);
}
.container__img .redes .twitter a{
    color: white;
    margin-left: 15px;
    background-color: rgb(6, 166, 172);
    font-size: 25px;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 50px;
}
.container__img .redes .twitter a:hover{
    background-color: rgb(0, 255, 255,0.7);
}

/* login */

.container__login{
    width: 50%;
    justify-content: center;
    padding: 80px 30px;
    display: flex;
    flex-direction: column;
}
.container__login h2{
    font-family: 'Righteous';
    font-size: 50px;
    margin-bottom: 20px;
}
.container__login form{
    width: 100%;
    padding: 20px;
    align-items: end;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.container__login form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid blue;
    font-size: 18px;
    outline:none ;
}
.container__login form button{
    border-radius: 20px;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.container__login form button:hover{
    background-color: rgba(4, 4, 136, 0.7);
}

.container__login ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    
}
.container__login .nombre{
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.26);
    user-select: none ;

}
